/* Dial Wheel Positioning for How It Works Section */
.dial-circle {
  width: 500px;
  height: 500px;
  left: -250px;
}

.step-pos-1 {
  transform: rotate(-45deg) translate(250px);
}
.step-pos-2 {
  transform: rotate(0deg) translate(250px);
}
.step-pos-3 {
  transform: rotate(45deg) translate(250px);
}

@media (min-width: 768px) {
  .dial-circle {
    width: 700px;
    height: 700px;
    left: -350px;
  }
  .step-pos-1 {
    transform: rotate(-45deg) translate(350px);
  }
  .step-pos-2 {
    transform: rotate(0deg) translate(350px);
  }
  .step-pos-3 {
    transform: rotate(45deg) translate(350px);
  }
}

/* Animations for initial load */
.pop-hidden {
  opacity: 0 !important;
}
.step-pos-wrapper.pop-hidden {
  transform: rotate(-90deg) translate(250px) scale(0.3) !important;
}
@media (min-width: 768px) {
  .step-pos-wrapper.pop-hidden {
    transform: rotate(-90deg) translate(350px) scale(0.3) !important;
  }
}
